In [1]:
import pandas as pd

In [11]:
positive_housekeeping_text = pd.read_csv('positive_Kate_housekeeping.csv')
positive_housekeeping_text.head()

         class                                           complain
0  not related  Hard to have a personal life because Operation...
1  not related  There are no benefits, no maternity leave. You...
2  not related  lot of turnover in the front desk department. ...
3  not related                       I have nothing bad to report
4  not related  Work hours can be long even if working from ho...

In [12]:
positive_warehouse_text = pd.read_csv('positive_masha.csv')
positive_warehouse_text.head()

,class,complain,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,notrelated,Hours could be challenging for someone who is ...,this is the right place to be,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,notrelated,Early days Late nights Difficult helpers Mispl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,notrelated,Everybody have to work on the weekends.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,notrelated,Located in a very old greenhouse on a huge pro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,notrelated,The company preaches safety non stop yet the a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# positive_warehouse_text['complain_real'] = positive_warehouse_text.apply(lambda x: x, axis=0)
# positive_warehouse_text.head()
cols = list(positive_warehouse_text.columns)
positive_warehouse_text['combined'] = positive_warehouse_text[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [31]:
positive_warehouse_text = positive_warehouse_text[['class', 'combined']]
positive_warehouse_text = positive_warehouse_text.rename(columns={'combined':'complain'})
positive_warehouse_text.head()

        class                                           complain
0  notrelated  notrelated_Hours could be challenging for some...
1  notrelated  notrelated_Early days Late nights Difficult he...
2  notrelated  notrelated_Everybody have to work on the weeke...
3  notrelated  notrelated_Located in a very old greenhouse on...
4  notrelated  notrelated_The company preaches safety non sto...

In [32]:
positive_compl_ashley = pd.read_csv('Complaints  - Ashley.csv')
positive_compl_ashley = positive_compl_ashley.rename(columns={'Class':'class', 'Complaint':'complain'})
positive_compl_ashley.head()

        class                                           complain
0  Notrelated  Hectic work schedule, strict office clock-in t...
1  Notrelated  Strict rules to enter inside office, need to s...
2  Notrelated  Organization is hierarchical, very stringent o...
3  Notrelated  If you want to reminisce about your school day...
4  Notrelated                  Terrible management on the whole.

In [33]:
positive_compl_albin = pd.read_csv('albin_positives.csv').rename(columns={'Class':'class', 'Complain':'complain'})
positive_compl_albin.head()

        class                                           complain
0  notrelated  - Warehouse conditions - Customer service brin...
1  notrelated  No respect from the manager Just because you g...
2  notrelated  long shifts, they don't give you the amount of...
3  notrelated  A lot time working that you donâ€™t get paid for...
4  notrelated  Lack of team work and ability to work towards ...

In [35]:
positive_combined = pd.concat([positive_housekeeping_text, positive_warehouse_text, positive_compl_ashley, positive_compl_albin], axis=0)
positive_combined.head()

         class                                           complain
0  not related  Hard to have a personal life because Operation...
1  not related  There are no benefits, no maternity leave. You...
2  not related  lot of turnover in the front desk department. ...
3  not related                       I have nothing bad to report
4  not related  Work hours can be long even if working from ho...

In [36]:
positive_combined.shape

(300, 2)

In [37]:
positive_combined.to_csv('positive_combined.csv', encoding='utf-8', index=False)